#mapid { 
	
	height: 380px; 

}

body {
	padding: 1%;
}

h2 {

	margin-top: 30px;
	
}

table, th, td {

	border: 1px solid black;

}

table.table {

	width: 70%;
	float: left;

}


img {

	margin-top: 30px;
	width: 25%; 
	height: 25%;
	float: right;

}